---
import ContentLayout from '../../layouts/ContentLayout.astro'
import { SETUP_SIDEBAR } from '../../scripts/sidebars'

---

<ContentLayout
  title={`配置指南`}
  section="配置指南"
  sidebarItems={SETUP_SIDEBAR}
  headings={[]}
>
  <p>这里将包含环境准备与常见工具的安装配置，帮助你在开始之前把开发环境打理好。</p>
</ContentLayout>
