---
import ContentLayout from '../../../layouts/ContentLayout.astro'
import { SETUP_SIDEBAR } from '../../../scripts/sidebars'

---

<ContentLayout
  title={`配置指南 - 环境准备`}
  section="配置指南"
  sidebarItems={SETUP_SIDEBAR}
  headings={[]}
>
  <p>环境准备模块：涵盖 Windows Terminal、Visual Studio Code、Node.js、GitHub 与 VPN 的基本安装与配置。</p>
</ContentLayout>
