---
import ContentLayout from '../../../layouts/ContentLayout.astro'
import { getEntry } from 'astro:content'

const entry = await getEntry('docs', '03-prompts/examples')
const rendered = entry && (await entry.render())
---

<ContentLayout
  title={entry?.data?.title || 'Examples'}
  headings={[]}
  contributors={entry?.data?.contributors}
>
  {rendered ? <rendered.Content /> : <div>文档未找到或渲染失败</div>}
</ContentLayout>
