---
import ContentLayout from '../layouts/ContentLayout.astro'
---

<ContentLayout title="搜索" section="搜索">
  <div>
    <h1>搜索</h1>
    <p>站内搜索即将上线。当前仅提供入口占位，后续会接入 Pagefind 或 Algolia。</p>
  </div>
</ContentLayout>
