---
import ContentLayout from '../../layouts/ContentLayout.astro'
import { FISH_TALKS_SIDEBAR } from '../../scripts/sidebars'
---

<ContentLayout
  title="鱼说 - 相关概念"
  section="鱼说必看"
  sidebarItems={FISH_TALKS_SIDEBAR}
>
  <h1 id="glossary">相关概念</h1>
  <p>从左侧选择一个词条以查看详细解释。</p>
</ContentLayout>

