---
import ContentLayout from '../../../layouts/ContentLayout.astro'
import { SETUP_SIDEBAR } from '../../../scripts/sidebars'
---

<ContentLayout
  title={`配置指南 - 环境准备 / Node.js（已迁移）`}
  section="配置指南"
  sidebarItems={SETUP_SIDEBAR}
  headings={[]}
>
  <meta http-equiv="refresh" content="0; url=/setup/preparations/nodejs" />
  <p>页面已迁移至 <a href="/setup/preparations/nodejs">配置指南 / 环境准备 / Node.js</a>。</p>
</ContentLayout>
